@{
    ViewData["Title"] = "Home Page";
}

<div class="list_container">
    <div class="title_content">
        <p>Liste des etapes</p>
        <div class="search_list">
            <form asp-action="" asp-controller="">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="search ..." name="textRecherche"/>
            </form>
        </div>
    </div>
    <div class="tableau">
        <table>
            <thead>
                <tr>
                    <th>nom</th>
                    <th>genre </th>
                    <th>chrono </th>
                    <th>penalite </th>
                    <th>temps finale </th>
                    <th>rang </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var classement in ViewBag.listEtapeCoureur){
                    <tr>
                        <td>@classement.Coureur</td>
                        <td>@classement.Genre</td>
                        <td>@Helper.CalculDifferenceHeures(classement.HeureDepart,@classement.HeureArrive)</td>
                        <td>@classement.TempsPenalite</td>
                        <td>@classement.DureeTotale</td>
                        <td>@classement.Rang</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@* <script src="~/js/pagination.js"></script> *@