@{
    ViewData["Title"] = "Home Page";
}
@model PaginationModel<Coureur>

<div class="list_container">
    <div class="title_content">
        <p>Liste des coureurs dans l'equipe</p>
        <div class="search_list">
            <form asp-action="" asp-controller="">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="search ..." name="textRecherche"/>
            </form>
        </div>
    </div>
    <a asp-action="ListEtapePageAdmin" asp-controller="Etape" class="bouton_lien">
        <div class="interne_bouton">
            <i class='bx bx-chevron-left-circle' style="height: 11px;"></i>
            <label>retour</label>
        </div>
    </a>
    <form asp-action="InsertionTempsCoureur" asp-controller="TempsCoureur">
        <div class="tableau">
            <table>
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>numero</th>
                        <th>heure debut </th>
                        <th>heure fin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @{var now = DateTime.Now;
                    var defaultStart = now.ToString("yyyy-MM-ddTHH:mm");
                    var defaultEnd = now.AddHours(1).ToString("yyyy-MM-ddTHH:mm");}
                    @foreach (var coureur in Model.ListObjets){
                        <tr>
                            <td>@coureur.Id</td>
                            <td>@coureur.NumeroDossard</td>
                            <td><input type="datetime-local" name="heure_debut" value="@defaultStart" /></td>
                            <td><input type="datetime-local" name="heure_fin" value="@defaultEnd" /></td>
                            <td><input type="hidden" name="CoureurId" value="@coureur.Id" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button id="affecter" type="submit"> Valider  </button>
    </form>
    <div id="checkValidation"></div>
    <div class="pagination" id="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("CoureurListPageAdmin", "Coureur", new { page = i })" class="@(i == Model.CurrentPage ? "active" : "")"><span>@i</span></a>
        }
    </div>
</div>
@Html.AntiForgeryToken()
@* <script src="~/js/pagination.js"></script> *@
<script src="~/js/coureursTraitement.js"></script>